<h1>予報内容</h1>
<div class="overview" *ngIf="overview != null">
    <table>
        <tr>
            <th>発表者</th>
            <td>{{overview.publishingOffice}}</td>
        </tr>
        <tr>
            <th>報告日時</th>
            <td>{{overview.reportDatetime}}</td>
        </tr>
        <tr>
            <th>対象地域</th>
            <td><b>{{overview.targetArea}}</b></td>
        </tr>
        <tr>
            <th>ヘッドライン</th>
            <td>{{overview.headlineText}}</td>
        </tr>
        <tr>
            <th>詳細</th>
            <td>{{overview.text}}</td>
        </tr>
    </table>
</div>
<br/>
<div class="temps" *ngIf="areaTemps != null">
    <table>
        <tr>
            <th>観測所</th>
            <th>今日の気温<br/><font color="blue">朝の最低</font>&nbsp;/&nbsp;<font color="red">日中の最高</font></th>
            <th>明日の気温<br/><font color="blue">朝の最低</font>&nbsp;/&nbsp;<font color="red">日中の最高</font></th>
        </tr>
        <ng-container *ngFor="let areaTemp of areaTemps">
        <tr>
            <td>{{areaTemp.name}}</td>
            <td><font color="blue">{{areaTemp.todayMin}}</font>&nbsp;&nbsp;/&nbsp;&nbsp;<font color="red">{{areaTemp.todayMax}}</font></td>
            <td><font color="blue">{{areaTemp.tomorrowMin}}</font>&nbsp;&nbsp;/&nbsp;&nbsp;<font color="red">{{areaTemp.tomorrowMax}}</font></td>
        </tr>
        </ng-container>
    </table>
</div>
<br/>
<div class="forecast" *ngIf="officeForecast != null">
    <ng-container *ngFor="let class10 of officeForecast.class10s">
        <table>
            <tr>
                <th>対象地域</th>
                <td><b>{{class10.targetArea}}</b></td>
            </tr>
            <tr>
                <th>今日の天気</th>
                <td>{{class10.today}}</td>
            </tr>
            <tr>
                <th>明日の天気</th>
                <td>{{class10.tomorrow}}</td>
            </tr>
            <tr>
                <th>明後日の天気</th>
                <td>{{class10.dayAfterTomorrow}}</td>
            </tr>
        </table>
        <br/>
    </ng-container>
</div>
