h1 {
    padding: 0.4em 0.5em;/*文字の上下 左右の余白*/
    color: #494949;/*文字色*/
    background: #f4f4f4;/*背景色*/
    border-left: solid 5px #7db4e6;/*左線*/
    border-bottom: solid 3px #d7d7d7;/*下線*/
  }
  
.area_list li#center {
	list-style-type: disc;/* リストの左側に黒丸 */
	margin-left: 24px;/* リストの左側に余白 */
	text-align: left;
}
.area_list li#office {
	list-style-type: circle;/* リストの左側に黒丸 */
	margin-left: 48px;/* リストの左側に余白 */
	text-align: left;
}
.area_list li#class10 {
	list-style-type: disc;/* リストの左側に黒丸 */
	margin-left: 48px;/* リストの左側に余白 */
	text-align: left;
}
.area_list li#class15 {
	list-style-type: circle;/* リストの左側に黒丸 */
	margin-left: 60px;/* リストの左側に余白 */
	text-align: left;
}
.area_list li#class20 {
	list-style-type: disc;/* リストの左側に黒丸 */
	margin-left: 72px;/* リストの左側に余白 */
	text-align: left;
}